// underline title sign up - login
.underline-title {
    position: relative;
    &::after {
        content: '';
        width: 12%;
        height: 4px;
        background-color: #000;
        position: absolute;
        bottom: -3px;
        left: 0;
        transition: 1.5s;
    }

    &:hover::after {
        width: 100%;
        background: rgb(34, 193, 195);
        background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    }
}

.btn-secondary {
    background-color: #3fc5ec !important;
    color: #fff !important;
    border: none !important;
    &:hover,
    &:active {
        -webkit-filter: brightness(1.1);
        filter: brightness(1.1);
    }
}

// màu background hay dùng
.bg {
    &-white {
        background-color: #fff;
    }
    &-gray {
        background-color: #f1f1f1;
    }
}

// // all transition
// .ease-trans {
//     transition: all ease-in-out 0.35s;
// }

// // background cho form
// .bg-form {
//     background-color: #fff;
//     border-radius: 8px;
//     box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.06);
// }

// // box-shadow for homepage
.box-sha-home {
    box-shadow: 0 0px 4px 4px rgba(0, 0, 0, 0.05);
}

// // border radius
.bor-rad-8 {
    border-radius: 8px;
}
.bor-rad-4 {
    border-radius: 4px;
}

.item-active {
    border: solid 1px #3a5dd9;
    background-color: #e6eeff;
}

// padding
.p-16 {
    padding: 16px;
}

.pt-2 {
    padding-top: 2px;
}
.p-tb-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.p-lr-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.btn-group-item {
    border-radius: 4px;
    color: #fff !important;
    font-weight: 500;
    height: 48px;
    // width: 100px;
    min-width: 50px;
    border: none;

    &:hover {
        -webkit-filter: brightness(1.1);
        filter: brightness(1.1);
    }
}

@media only screen and (max-width: 992px) {
    .btn-group-item {
        padding: 5px 15px;
    }
}
