/* reset default style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base style */

body {
    background: #fcfcfc;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

a {
    text-decoration: none;
    color: unset;
}

h1,
h2 {
    font-size: 2.1rem;
    font-weight: 600;
    color: #212245;
}

section {
    padding: 0 0 60px 0px;
}

@media only screen and (max-width: 768px) {
    section {
        padding: 40px 0px;
    }

    h1,
    h2 {
        font-size: 1.5rem;
    }
}
