.cart__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.639);
    z-index: 200;

    .cart {
        position: absolute;
        top: 0;
        right: 0;
        width: 400px;
        height: 100%;
        background: #fff;
        z-index: 200;
        .cart__close {
            width: 100%;
            height: 60px;
            padding: 6px;
            &-icon {
                font-size: 1.6rem;
                padding: 5px;
                border-radius: 50%;
                color: #000;
                cursor: pointer;
            }
        }
    }
}

.cart__item-list {
    height: calc(100vh - 154px);
    overflow-y: scroll;
}

.cart__bottom {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 5px 20px;
    width: 100%;
    height: 80px;
    background: #3555c5;

    h6 {
        font-size: 1rem;
        color: #fff;

        span {
            font-size: 1.3rem;
            font-weight: 600;
        }
    }
    button {
        border: none;
        padding: 4px 20px;
        border-radius: 5px;
        background: #fff;
        color: #212245;
        a {
            color: #212245;
            font-weight: 600;
        }
    }
}

@media only screen and (max-width: 576px) {
    .cart {
        width: 300px !important;
    }
}
