/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

@import './commons/utils/atomic.scss';
@import './commons/utils/text.scss';
@import './commons/utils/reset.scss';
