.common__section {
    padding: 20px 0px 0px 0px;
    margin-bottom: 30px;
    .icon-home {
        font-size: 1rem;
        background: #fff;
        padding: 12px;
        border-radius: 50%;
    }
    .r-arrow {
        padding: 0 8px;
        font-weight: 500;
        line-height: 40px;
    }
    .pro-name {
        background: #fff;
        font-weight: 500;
        padding: 8px;
        border-radius: 18px;
    }
}
